<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-icon mat-card-avatar>settings</mat-icon>
          <mat-card-title>Environment Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ environment | json }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>compare_arrows</mat-icon>
          <mat-card-title>Redux Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h5>Counter <button id="counter-btn"mat-raised-button color="primary" (click)="increment()">Increment Counter</button></h5>
          <p>Counter: <span id="counter">{{ counter | async }}</span></p>
          <h5 class="mt-4">HTTP <button id="get-data-btn" mat-raised-button color="primary" (click)="getData()">Get Data</button></h5>
          <p id="get-data">{{ data | async | json }}</p>
          <h5 class="mt-4">State</h5>
          <p>{{ state | async | json }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>link</mat-icon>
          <mat-card-title>Links To Get You Started</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></li>
            <li><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></li>
            <li><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>