<!--The content below is only a placeholder and can be replaced.-->
<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Angular Starter</h1>
      <h2>An opinionated starter package for Angular 6+</h2>
    </div>
  </div>
</header>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-icon mat-card-avatar>settings</mat-icon>
          <mat-card-title>Environment Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ environment | json }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-icon mat-card-avatar>compare_arrows</mat-icon>
          <mat-card-title>Redux Actions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h5>Counter <button id="counter-btn"mat-raised-button color="primary" (click)="increment()">Increment Counter</button></h5>
          <p>Counter: <span id="counter">{{ counter | async }}</span></p>
          <h5 class="mt-4">HTTP <button id="get-data-btn" mat-raised-button color="primary" (click)="getData()">Get Data</button></h5>
          <p id="get-data">{{ data | async | json }}</p>
          <h5 class="mt-4">State</h5>
          <p>{{ state | async | json }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="mb-4">
        <mat-card-header>
          <mat-icon mat-card-avatar>link</mat-icon>
          <mat-card-title>Links To Get You Started</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></li>
            <li><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></li>
            <li><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>